@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Anton|Atomic+Age");
.comics {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box; }
  .comics:hover > .nome {
    color: #e62429; }
  .comics:hover > .foto {
    margin-top: -10px;
    margin-bottom: 10px;
    transition: .3s; }
  .comics .foto {
    width: 200px;
    height: 270px; }
    .comics .foto img {
      height: 100%;
      width: 100%; }
  .comics .nome {
    color: #151515;
    padding: 10px 0 5px;
    text-transform: uppercase;
    width: 200px;
    font-weight: bold;
    font-size: 14px;
    height: 50px; }
  .comics .valor {
    color: #999;
    padding: 5px 0;
    width: 200px;
    font-size: 12px; }
  .comics .buy {
    width: 100%;
    padding: 10px 0;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #e62429;
    cursor: pointer;
    outline: none; }
    .comics .buy:hover {
      background: #e67e22; }

.x-cart {
  position: absolute;
  right: 30px;
  color: #fff;
  cursor: pointer; }
  .x-cart .itensQtd {
    position: absolute;
    top: -10px;
    right: -15px;
    border-radius: 50%;
    background: #e62429;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .x-cart__box {
    height: auto;
    width: 300px;
    background: #fff;
    position: absolute;
    right: 0;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    cursor: auto;
    display: none; }
    .x-cart__box .box-title {
      color: #fff;
      background: #e62429;
      padding: 10px;
      text-align: center;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
    .x-cart__box #box-products {
      height: auto;
      max-height: 250px;
      overflow: auto;
      display: flex;
      flex-direction: column; }
      .x-cart__box #box-products::-webkit-scrollbar {
        width: 5px; }
      .x-cart__box #box-products::-webkit-scrollbar-button {
        display: none; }
      .x-cart__box #box-products::-webkit-scrollbar-track-piece {
        background-color: #fff; }
      .x-cart__box #box-products::-webkit-scrollbar-thumb {
        background-color: #e62429; }
      .x-cart__box #box-products .comicCart {
        padding: 5px;
        color: #999;
        display: flex;
        position: relative; }
        .x-cart__box #box-products .comicCart img {
          width: 60px;
          height: 90px; }
        .x-cart__box #box-products .comicCart button {
          position: absolute;
          right: 0px;
          border: none;
          padding: 5px;
          font-weight: bold;
          background: none;
          z-index: 1;
          cursor: pointer; }
          .x-cart__box #box-products .comicCart button:hover {
            color: #e62429; }
        .x-cart__box #box-products .comicCart__body {
          display: flex;
          flex-direction: column;
          padding: 10px 0 0 10px;
          position: relative;
          width: 100%; }
          .x-cart__box #box-products .comicCart__body .cartbody-nome {
            font-size: 12px;
            margin-bottom: 5px; }
          .x-cart__box #box-products .comicCart__body .cartbody-price {
            position: absolute;
            right: 10px;
            bottom: 5px; }
    .x-cart__box .box-total {
      color: #fff;
      background: #e62429;
      padding: 10px;
      text-align: left;
      box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2); }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #22262a;
  position: relative; }
  header .logo {
    width: 193px;
    height: 80px; }
    header .logo img {
      height: 100%;
      width: 100%; }

.modal--descProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  flex-direction: column;
  display: none; }
  .modal--descProduct .lightbox {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute; }
  .modal--descProduct .titleDesc {
    background: #e62429;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    width: 440px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal--descProduct .qtdProduct {
    height: 400px;
    width: 400px;
    background: #fff;
    display: flex;
    z-index: 100;
    justify-content: space-evenly;
    padding: 20px;
    position: relative; }
    .modal--descProduct .qtdProduct .photoProduct {
      width: 180px;
      height: 230px; }
      .modal--descProduct .qtdProduct .photoProduct img {
        width: 100%;
        height: 100%; }
    .modal--descProduct .qtdProduct .detalhesProduto {
      width: 200px; }
      .modal--descProduct .qtdProduct .detalhesProduto tr td {
        padding: 10px 0;
        text-align: justify; }
      .modal--descProduct .qtdProduct .detalhesProduto .dados--preco {
        background: #e62429;
        color: #fff; }
        .modal--descProduct .qtdProduct .detalhesProduto .dados--preco td {
          display: flex;
          justify-content: center; }
          .modal--descProduct .qtdProduct .detalhesProduto .dados--preco td:before {
            content: "Preço unitário: $"; }
      .modal--descProduct .qtdProduct .detalhesProduto .dados--maisdetalhes {
        margin-bottom: 20px; }
        .modal--descProduct .qtdProduct .detalhesProduto .dados--maisdetalhes td {
          width: 100%;
          text-align: center;
          padding: 20px 0 5px;
          font-size: 12px; }
          .modal--descProduct .qtdProduct .detalhesProduto .dados--maisdetalhes td a {
            color: #999; }
            .modal--descProduct .qtdProduct .detalhesProduto .dados--maisdetalhes td a:hover {
              color: #e62429; }
      .modal--descProduct .qtdProduct .detalhesProduto .dados--serie td {
        font-size: 12px;
        color: #555; }
      .modal--descProduct .qtdProduct .detalhesProduto .dados--nome td {
        color: #555;
        font-weight: bold;
        font-size: 16px; }
    .modal--descProduct .qtdProduct .priceTotal {
      position: absolute;
      bottom: 80px;
      color: #e62429;
      font-weight: bold; }
    .modal--descProduct .qtdProduct .QtdSelector {
      display: flex;
      position: absolute;
      bottom: 40px; }
      .modal--descProduct .qtdProduct .QtdSelector button {
        width: 30px;
        height: 30px;
        border: solid 1px #e62429;
        background: #e62429;
        color: #fff;
        outline: none; }
      .modal--descProduct .qtdProduct .QtdSelector input {
        height: 30px;
        border: none;
        outline: none;
        box-sizing: border-box;
        width: 340px;
        border-top: solid 1px #e62429;
        border-bottom: solid 1px #e62429;
        text-align: center; }
    .modal--descProduct .qtdProduct .buy {
      width: 100%;
      padding: 10px 0;
      border: none;
      text-transform: uppercase;
      color: #fff;
      background: #e62429;
      cursor: pointer;
      outline: none;
      position: absolute;
      bottom: 0; }
      .modal--descProduct .qtdProduct .buy:hover {
        background: #e67e22; }

#destaque {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center; }

footer {
  width: 100%;
  height: auto;
  background: #151515;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 5% 2%;
  box-sizing: border-box; }
  @media screen and (max-width: 1024px) {
    footer {
      flex-direction: column; } }
  footer .camada1 {
    order: 1;
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 0 5% 0 0;
    box-sizing: border-box;
    flex-wrap: wrap; }
    footer .camada1 .logo svg {
      height: 120px;
      width: 80px; }
    footer .camada1 .x-ul li {
      font-weight: bold; }
    footer .camada1 ul {
      list-style: none; }
      footer .camada1 ul li a {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        line-height: 23px; }
    @media screen and (max-width: 1024px) {
      footer .camada1 {
        width: 100%;
        padding-bottom: 20px; } }
    @media screen and (max-width: 764px) {
      footer .camada1 .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 30px; }
        footer .camada1 .logo svg {
          height: 80px;
          width: 40px; } }
  footer .camada2 {
    order: 1;
    width: 35%; }
    footer .camada2 ul {
      list-style: none; }
      footer .camada2 ul li {
        margin: 0px 0 20px;
        display: flex;
        font-size: 12px; }
        footer .camada2 ul li img {
          height: 32px;
          width: 56px; }
        footer .camada2 ul li .text {
          display: flex;
          flex-direction: column;
          margin: 0 20px;
          text-transform: uppercase; }
          footer .camada2 ul li .text span {
            font-weight: bold;
            color: #fff; }
          footer .camada2 ul li .text p {
            color: #999; }
    @media screen and (max-width: 1024px) {
      footer .camada2 {
        width: 100%;
        padding: 30px 0;
        border-top: solid 1px #555; }
        footer .camada2 ul li img {
          height: 48px;
          width: 76px; }
        footer .camada2 ul li .text {
          font-size: 14px; } }
  footer .camada3 {
    order: 1;
    width: 15%; }
    footer .camada3 h4 {
      color: #999; }
    footer .camada3 ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px; }
      footer .camada3 ul li {
        fill: #999;
        margin: 0 10px 10px 0px; }
        footer .camada3 ul li:hover {
          fill: #fff; }
    @media screen and (max-width: 1024px) {
      footer .camada3 {
        width: 100%;
        padding: 30px 0;
        border-top: solid 1px #555; }
        footer .camada3 ul {
          justify-content: space-between;
          margin-top: 20px; } }
  footer .camada4 {
    order: 2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    width: 100%;
    align-items: center;
    color: #999;
    font-size: 12px;
    flex-wrap: wrap; }
    footer .camada4 a {
      color: #999;
      margin-right: 5px; }
    @media screen and (max-width: 1024px) {
      footer .camada4 {
        width: 100%;
        padding: 30px 0;
        border-top: solid 1px #555;
        margin-top: 0px;
        line-height: 25px; } }
