// Principais cores do site
$p-color: #e62429;
$p-dark: #e67e22;
$s-color: #f1c40f;
$s-dark: #8e44ad;
$t-color: #00f;

$black: #000;
$gray: #ccc;
$white: #fff;
$gray-dark:#22262a;
$gray-light:#ced4da;
$gray-darkness: #151515;

// Cores principais fontes
$font-color1: #151515;
$font-color2: #999;
$font-color3: #555;

// Cores principais sombras
$sombra: rgba(0,0,0,0.9);
$light-sombra: rgba(0,0,0,0.2);