//Import fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Anton|Atomic+Age');

// Font-size

$f-small: 10px;
$f-normal:12px;
$f-medium:14px;
$f-large:16px;
$f-big: 18px;
$f-xs: 22px;
$f-titleLogin: 54px;

// Font-size Disturb

$f-header: 45px;

//Style font

$serif: sans-serif;
$roboto: 'Roboto', sans-serif;
$atomic: 'Atomic Age', cursive;