@import './settings/_base-settings.scss';
@import './comics/style.scss';
@import './cart/cart.scss';

*{
    margin:0;
    padding:0;
    font-family: $roboto;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-dark;
    position: relative;
    .logo{
        width: 193px;
        height: 80px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
.modal{
    &--descProduct{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        top: 0;
        flex-direction: column;
        display: none;
        .lightbox{
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .titleDesc {
            background: $p-color;
            height: 50px;
            color: $white;
            text-transform: uppercase;
            width: 440px;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .qtdProduct{
            height: 400px;
            width: 400px;
            background: $white;
            display: flex;
            z-index: 100;
            justify-content: space-evenly;
            padding: 20px;
            position: relative;
            .photoProduct {
                width: 180px;
                height: 230px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .detalhesProduto {
                width: 200px;
                tr td {
                    padding: 10px 0;
                    text-align: justify;
                }
                .dados--preco {
                    background: $p-color;
                    color: $white;
                    td {
                        display: flex;
                        justify-content: center;
                        &:before {
                            content: "Preço unitário: $";
                        }
                    }
                }
                .dados--maisdetalhes{
                    margin-bottom: 20px;
                    td {
                        // border-top: solid 1px #ddd;
                        width: 100%;
                        text-align: center;
                        padding: 20px 0 5px;
                        font-size: $f-normal;
                        a{
                            color: $font-color2;
                            &:hover{
                                color: $p-color;
                            }
                        }
                    }
                }
                .dados--serie{
                    td {
                        font-size: 12px;
                        color: $font-color3;
                    }
                }
                .dados--nome {
                    td{
                        color: $font-color3;
                        font-weight: bold;
                        font-size: $f-large;
                    }
                } 
            }
            .priceTotal {
                position: absolute;
                bottom: 80px;
                color: $p-color;
                font-weight: bold;
            }
            .QtdSelector {
                display: flex;
                position: absolute;
                bottom: 40px;
                button {
                    width: 30px;
                    height: 30px;
                    border: solid 1px $p-color;
                    background: $p-color;
                    color: $white;
                    outline: none;
                }
                input {
                    height: 30px;
                    border: none;
                    outline: none;
                    box-sizing: border-box;
                    width: 340px;
                    border-top: solid 1px $p-color;
                    border-bottom: solid 1px $p-color;
                    text-align: center;
                }
            }
            .buy{
                width: 100%;
                padding: 10px 0;
                border: none;
                text-transform: uppercase;
                color: $white;
                background: $p-color;
                cursor: pointer;
                outline: none;
                position: absolute;
                bottom: 0;
                &:hover{
                    background: $p-dark;
                }
            }
        }
    }
}
#destaque{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
footer{
    width: 100%;
    height: auto;
    background: $gray-darkness;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 5% 2%;
    box-sizing: border-box;
    @media screen and (max-width:$tablet){
        flex-direction: column;
    }
    .camada1{
        order: 1;
        display: flex;
        width: 50%;
        justify-content: space-between;
        padding: 0 5% 0 0;
        box-sizing: border-box;
        flex-wrap: wrap;
        .logo {
            svg{
                height: 120px;
                width: 80px;
            }
        }
        .x-ul{
            li{
                font-weight: bold;
            }
        }
        ul{
            list-style: none;
            li{
                a{
                    text-transform: uppercase;
                    color: $white;
                    font-size: $f-medium;
                    line-height: 23px;
                }
            }
        }
        @media screen and (max-width:$tablet){
            width: 100%;
            padding-bottom: 20px;
        }
        @media screen and (max-width:$mobile){
            .logo{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                svg{
                    height: 80px;
                    width: 40px;
                }
            }
        }        
    }
    .camada2{
        order: 1;
        width: 35%;
        ul{
            list-style: none;
            li{
                margin: 0px 0 20px;
                display: flex;
                font-size: $f-normal;
                img{
                    height: 32px;
                    width: 56px;
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    margin: 0 20px;
                    text-transform: uppercase;
                    span{
                        font-weight: bold;
                        color: $white;
                    }
                    p{
                        color: $font-color2;
                    }
                }
            }
        }
        @media screen and (max-width:$tablet){
            width: 100%;
            padding: 30px 0;
            border-top: solid 1px #555;
            ul li{
                img{
                    height:48px;
                    width: 76px;
                }
                .text{
                    font-size:$f-medium;
                }
            }
        }
    }
    .camada3{
        order: 1;
        width: 15%;
        h4{
            color: $font-color2;
        }
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
            li{
                fill:$font-color2;
                margin: 0 10px 10px 0px;
                &:hover{
                    fill:$white;
                }
            }
        }
        @media screen and (max-width:$tablet){
            width: 100%;
            padding: 30px 0;
            border-top: solid 1px #555;
            ul{
                justify-content: space-between;
                margin-top: 20px;
            }
        }
    }
    .camada4{
        order: 2;
        display: flex;
        justify-content: space-evenly;
        margin-top: 90px;
        width: 100%;
        align-items: center;
        color: $font-color2;
        font-size: $f-normal;
        flex-wrap: wrap;
        a{
            color: $font-color2;
            margin-right: 5px;
        }
        @media screen and (max-width:$tablet){
            width: 100%;
            padding: 30px 0;
            border-top: solid 1px #555;
            margin-top: 0px;
            line-height: 25px;
        }
    }
}