.comics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box; }
  .comics .foto {
    width: 200px;
    height: 270px;
    background: #999; }
    .comics .foto img {
      height: 100%;
      width: 100%; }
  .comics .nome {
    color: #999;
    padding: 10px 0 5px;
    text-transform: uppercase;
    width: 200px; }
  .comics .valor {
    color: #999;
    padding: 5px 0;
    width: 200px; }
