.comics{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    &:hover{
        > .nome{
            color: $p-color;
        }
        > .foto{
            margin-top: -10px;
            margin-bottom: 10px;
            transition: .3s;
        }
    }
    .foto{
        width: 200px;
        height: 270px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .nome{
        color: $font-color1;
        padding: 10px 0 5px;
        text-transform: uppercase;
        width: 200px;
        font-weight: bold;
        font-size: $f-medium;
        height: 50px;
    }
    .valor{
        color: $font-color2;
        padding: 5px 0;
        width: 200px;
        font-size: $f-normal;
    }
    .buy{
        width: 100%;
        padding: 10px 0;
        border: none;
        text-transform: uppercase;
        color: $white;
        background: $p-color;
        cursor: pointer;
        outline: none;
        &:hover{
            background: $p-dark;
        }
    }
}