.x-cart{
    position: absolute;
    right: 30px;
    color: $white;
    cursor: pointer;
    .itensQtd {
        position: absolute;
        top: -10px;
        right: -15px;
        border-radius: 50%;
        background: $p-color;
        width: 20px;
        height: 20px;
        font-size: $f-normal;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__box{
        height: auto;
        width: 300px;
        background: $white;
        position: absolute;
        right: 0;
        box-shadow: 3px 3px 7px $light-sombra;
        cursor: auto;
        display: none;
        .box-title{
            color: $white;
            background: $p-color;
            padding: 10px;
            text-align: center;
            box-shadow: 1px 1px 1px $light-sombra;
        }
        #box-products{
            height: auto;
            max-height: 250px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            &::-webkit-scrollbar{width: 5px;}
            &::-webkit-scrollbar-button{display:none;}
            &::-webkit-scrollbar-track-piece{background-color: $white;}
            &::-webkit-scrollbar-thumb{background-color: $p-color;}
            .comicCart{
                padding: 5px;
                color: $font-color2;
                display: flex;
                position: relative;
                img {
                    width: 60px;
                    height: 90px;
                }
                button {
                    position: absolute;
                    right: 0px;
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    background: none;
                    z-index: 1;
                    cursor: pointer;
                    &:hover{
                        color: $p-color;
                    }
                }
                &__body{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0 0 10px;
                    position: relative;
                    width: 100%;
                    .cartbody-nome{
                        font-size: $f-normal;
                        margin-bottom: 5px;
                    }
                    .cartbody-price{
                        position: absolute;
                        right: 10px;
                        bottom: 5px;
                    }
                }
            }
        }
        .box-total{
            color: $white;
            background: $p-color;
            padding: 10px;
            text-align: left;
            box-shadow: 0px -1px 1px $light-sombra;
            &__Value{

            }
        }
    }
}